/* --------------------------- *\
            REGISTRO
\* --------------------------- */

#registro {
    background-image: url('../src/images/adorno.png');
    background-size: 100% 100%;
    padding: 75px;
    padding-top: 40px;
}

    .registro-titulo {
        font-size: 5.4em;
        font-weight: 600;
        color: var(--color-white);
        text-align: center;
        line-height: 1;
    }

    .registro-formulario input {
        width: 100%;
        height: 50px;
        border: none;
        outline: none;
        border-radius: 1em;

        font-size: 1.5em;
        text-align: center;
    }
    .registro-formulario input::placeholder {
        color: var(--color-gray);
    }
    .registro-formulario input.submit {
        font-size: 1.8em;
        font-weight: 700;
        color: var(--color-white);
        background-color: var(--color-secundario);
    }
