/* --------------------------- *\
			VARIABLES
\* --------------------------- */

:root {
	/* Colores */
	--color-black: #000000;
	--color-darkgray: #5B5B5B;
	--color-gray: #8D8D8D;
	--color-lightgray: #F4F4F4;
    --color-white: #FFFFFF;
    
    --color-principal: #007AB5;
    --color-secundario: #00B9F3;
}