/* Large devices (desktops, 992px and up) */
@media (max-width: 991px) { 
    .header-contacto {
        height: 50px;
        background: url('../../src/images/adorno.png');
        background-size: 100% 100%;
        border-bottom: none;
        margin: 0 ;
    }
    
        .header-contacto-enlace {
            display: none;
        }

        
    .header-navbar {
        margin: 0 30px;
    }
    
        .header-navbar-enlace.especial {
            color: var(--color-principal);
            background-color: transparent;
        }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}